<p>Hallo {{ name }},</p>
</br>
<p>Es gibt gute Nachrichten!</p>
<p>Dein Auftrag für dein {{ kennzeichen }} hat jetzt folgenden Status: {{{ status }}}.</p>
</br>
<p>Mit besten Grüßen</p>
<p>Dein Team von OBI</p>
