<p>Hallo {{ name }},</p>
</br>
<p>Es gibt gute Nachrichten!</p>
<p>Dein Auftrag für dein Auto mit dem Kennzeichen {{ kennzeichen }} hat jetzt folgenden Status: {{ status }}.</p>
</br>
<p>Mit besten Grüßen</p>
<p>Dein Team von Carsta</p>
